<!DOCTYPE html>
<html>
<head>
    <title>Credit CGPA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="feature-page">
    <h2 class="feature-title">Credit Based CGPA</h2>

    <form method="post" class="feature-form">
        <label>Credits</label>
        <input name="credits" placeholder="4,3,3,2" required>

        <label>Grades</label>
        <input name="grades" placeholder="S,A,B,A" required>

        <button>Calculate</button>
    </form>

    {% if cgpa %}
    <div class="result">{{ cgpa }}</div>
    {% endif %}

    <a href="/" class="back-btn">⬅ Back</a>
</div>
</body>
</html>
