<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CGPA Calculator Website</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>🎓 CGPA CALCULATOR WEBSITE</h1>

        <div class="menu">
            <a href="/sem_avg">Semester CGPA Average</a>
            <a href="/year">Year-wise CGPA</a>
            <a href="/credit">Credits CGPA</a>
            <a href="/mixed">Mixed CGPA</a>
            <a href="/predict">Predict Next CGPA</a>
        </div>

    </div>

</body>
</html>

