<!DOCTYPE html>
<html>
<head>
    <title>CGPA Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>🎓 CGPA Calculator</h1>

    <div class="menu">
        <a href="/sem_avg">Semester Average</a>
        <a href="/year">Year CGPA</a>
        <a href="/credit">Credit CGPA</a>
        <a href="/mixed">Mixed CGPA</a>
        <a href="/predict">Predict CGPA</a>
    </div>
</div>
</body>
</html>
