<!DOCTYPE html>
<html>
<head>
    <title>Predict CGPA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="feature-page">
    <h2 class="feature-title">Predict CGPA</h2>

    <form method="post" class="feature-form">
        <input name="sems" placeholder="Remaining Semesters" required>
        <button>Predict</button>
    </form>

    {% if result %}
    <div class="result">{{ result }}</div>
    {% endif %}

    <a href="/" class="back-btn">⬅ Back</a>
</div>
</body>
</html>
